*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: block;
}
#header{
    height: 120px;
    width: 66.5%;
    padding-left: 265px;
}

#logo{
    background-color: #ab183d;
    width: 700px;
    height: 190px;
}
#text{
    background-color: #ab183d;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    font-weight: 700;
    height: 150px;
    width: 12000px;
}
b{
    font-weight: bold;
    font-size:18px;
    display: flex;
    padding-left: 300px;
}
nav{
    
    color: white;
    text-align: center;
    font: normal bold 21px / 1.2em Arial, Verdana, Helvetica;
    background-color: black;
    height: 40px;
    margin: 0;
    z-index: 99;
    position: relative;
    text-decoration: none;
    
}
#nav{
    margin-top:-20px;
    
}
#a{
    color: white;
    text-decoration: none;
   
}

#hehe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 280px;
}
#welcome{
    color: red;
    padding-left: 550px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
#ghumnewala{
    font-size: large;
    font-weight: bold;
    padding-left: 260px;
}
#badaghumnewala{
    font-weight: bold;
    padding-left: 350px;
}
#chotaghumnewala{
    font-weight: bold;
    padding-left: 260px;
}
#chotabadaghumnewala{
    font-weight: bold;
    padding-left: 300px;
}
#whitespaces{
    color: #fff;
}
#dabbawala{
    background-color: #868a08;
    margin-left: 250px;
    height: 60px;
    text-align: center;
    width: 255px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
}
#saaredabba{
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    
}
#eksath{
    display: flex;
}
#dabbawala1{
    height: 60px;
    width: 245px;
    background-color: #0404b4;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#dabbawala2{
    height: 60px;
    width: 245px;
    background-color:#fb5e03;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#dabbawala3{
    height: 60px;
    width: 245px;
    background-color:#8c0101;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#dabbawala4{
    margin-top: 250px;
    height: 60px;
    width: 245px;
    background-color:#fb0303;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;

}
#dabbawala5{
    height: 60px;
    width: 245px;
    background-color:#0b610b;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#dabbawala6{
    height: 60px;
    width: 245px;
    background-color:#ff00bf;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#dabbawala7{
    height: 60px;
    width: 245px;
    background-color:#0080ff;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    color: #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
#box1{
    background-color:#ab183d ;
    height: 40px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 300px;
    margin-left: 270px;
    border: 1px solid #d2691e;
}
#forbeingwhite{
    color: #fff;
    text-decoration: none;

}
#white{
    background-color: #fff;
    border: 2px solid #d2691e;
    height: 1100px;
    font-size: 17px;
    color: black;
}
#box2{
    background-color:#ab183d ;
    margin-left: 50px;
    height: 40px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 300px;
    border: 1px solid #d2691e;
}
#box3{
    background-color:#ab183d ;
    margin-left: 50px;
    height: 40px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 300px;
    border: 1px solid #d2691e;
}
#viewmore{
    margin-top: 40px;
    padding-left: 200px;
    
}
#viewmoremore{
    text-decoration: none;
    color: #0000a0;
    font-size: 18px;
}
#wholelowerbox{
    margin-top: 1100px;
}
#box4{
    background-color:#ab183d ;
    height: 45px;
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-left: 270px;
}
#white1{
    background-color: #fff;
    border: 2px solid #d2691e;
    color: black;
    height: 260px;
    font-size: 17px;
}
#white1ka2{
    background-color: #fff;
    border: 2px solid #d2691e;
    height: 630px;
    font-size: 17px;
    color: black;
}
#box5{
    background-color:#ab183d ;
    height: 45px;
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-left: 50px;
}
#box6{
    background-color:#ab183d ;
    height: 45px;
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-left: 50px; 
}
#box7{
    background-color:hsl(345, 75%, 38%) ;
    height: 45px;
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-left: 270px; 
    margin-top: 270px;
}
#white1ka3{
    background-color: #fff;
    border: 2px solid #d2691e;
    height: 315px;
    font-size: 17px;
    color: black;
}
#box8{
    background-color:#ab183d ;
    height: 45px;
    width: 300px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-left: 50px; 
    margin-top: 270px;
}
#forbold{
    font-weight: bold;
}
#bigboxes1{
    background-color:#aa183d ;
    text-align: center;
    width: 74%;
    display: block;
    margin-left: 220px;
    margin-right: 130px;
    color: #fff;
    font-size: 25px;
}
#whites{
    background-color: #fff;
    border: 2px solid #d2691e;
    height: 345px;
    font-size: 17px;
    color: black;
}

